*{


}




h1{
    color:#A4A400;
    background-color: rgb(240,240,240);
    font-family: Lucida Sans Unicode, Helvetica, Arial;
    text-align: center;
    font: 22pt bold;
    text-decoration: underline;
    letter-spacing: 0.25em;

}

h2{
    font: 18pt;
    text-decoration: underline;
    color:#A4A400;
    font-family: Lucida Sans Unicode, Helvetica, Arial;
    background-color: rgb(240,240,240);
    text-align: left;
    letter-spacing: 0.25em;

}

p{
    text-align: left;
}


body{
    background-color: white;
    color: rgb(64, 64, 64);
    font: 11pt;
    font-family: Georgia, Garamond;
    background-image: url(./images/silverware.jpg);

}


a{
    color:#A4A400;
}

.quote{
    background-color:#ffffa8 ;
    
}

.pie{
    list-style-image: url(./images/pie_icon.gif);
}